# See https://help.github.com/ignore-files/ for more about ignoring files.

# MacOS
.DS_Store
**/.DS_Store

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log
.DS_Store

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# vercel
.vercel

# CSS Build
tw-out.css
**/tw-out.css

# Sublime
*.sublime-workspace